body{
    background-color: rgb(20, 33, 10);
    color: rgb(255, 255, 255);

}

.spiller{
    height: 80px;
    width: 80px;
<<<<<<< HEAD
    
=======
    border-style: dashed;
>>>>>>> 75a0476d5eb5e64de5efc2f781089f50a386040e
    color: aliceblue;
    background-color: aliceblue;
}